---
import "@/styles/global.css"
import { Encabezado } from "@/components/encabezado"
import { PieDePagina } from "@/components/pieDePagina"
import { SeccionHero } from "@/components/seccionHero"
import { SeccionEstadisticas } from "@/components/seccionEstadisticas"
import { SeccionJuegos } from "@/components/seccionJuegos"
import { SeccionProductos } from "@/components/seccionProductos"
import { SeccionSorteos } from "@/components/seccionSorteos"
import { CarruselSorteosDestacados } from "@/components/carruselSorteosDestacados"
import { SeccionContacto } from "@/components/seccionContacto"
import { SeccionApostarOnline } from "@/components/seccionApostarOnline"
import { SeccionDomicilios } from "@/components/seccionDomicilios"
import { SeccionBeneficios } from "@/components/seccionBeneficios"
import { SeccionNoticias } from "@/components/seccionNoticias"
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/images/LogoAposSecundario.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Apostar - Tu suerte al alcance</title>
  </head>
  <body>
    <Encabezado client:load />
    <main>
      <SeccionHero client:load />
      <SeccionEstadisticas client:load />
      <SeccionBeneficios client:load />

      <SeccionJuegos client:load />
      <SeccionProductos client:load />
      
      <div id="online">
        <SeccionApostarOnline client:load />
      </div>
      
      <div id="domicilios">
        <SeccionDomicilios client:load />
      </div>
      
      <CarruselSorteosDestacados client:load />
      <SeccionSorteos client:load />

      <SeccionNoticias client:load />
      <SeccionContacto client:load />
    </main>
    <PieDePagina client:load />
  </body>
</html>
