---
export const prerender = true;

import "@/styles/global.css"
import { ComerAdminDashboard } from "@/components/admin/comerAdminDashboard"
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/images/LogoAposSecundario.png" />
    <meta name="viewport" content="width=device-width" />
    <title>Administración - Apostar</title>
  </head>
  <body class="bg-background min-h-screen">
    <ComerAdminDashboard client:only="react" />
  </body>
</html>
